@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23232e;
    height: 8vh;
    position: relative; 
}
main{
    background: url(bg.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;

}

.nav-list{
    list-style: none;
    display: flex;
    
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.menu{
    cursor: pointer;
}
.menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (min-width: 1px){
    body{
        
        overflow: hidden;
    }
    .nav-list {
    position: absolute;
    padding-top: 30px;
    top: 8vh;              
    left: 0;
    width: 100vw;          
    height: 0;             
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    gap: 20px;
}

.insta{
    width: 180px;
    height: auto;
    max-width: 180px;
    min-width: none;
}
.insta:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
.linkedin{
    width: 180px;
    height: auto;
    max-width: 180px;
    min-width: none;
}
.linkedin:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
.github{
    width: 170px;
    height: auto;
    max-width: 170px;
    min-width: none;
}
.github:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .menu{
        display: block;
    }
.nav-list.active {
    height: 92vh; 
}
.nav-list li {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.4s ease-in-out;
}
.nav-list.active li {
    opacity: 1;
    transform: translateY(0);
}

.nav-list.active li:nth-child(1){
    transition-delay: 0.1s;
}
.nav-list.active li:nth-child(2){
    transition-delay: 0.3s;
}
.nav-list.active li:nth-child(3){
    transition-delay: 0.5s;
}

.menu.active .l1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.menu.active .l2 {
    opacity: 0;
}
.menu.active .l3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

